@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Management";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Admin User Management</h2>

<form asp-controller="Admin" asp-action="Index" method="post" style="display:inline;">
    @Html.AntiForgeryToken()  <!-- Bảo mật chống CSRF -->
    <button type="submit" class="btn btn-danger">Logout</button>
</form>

<a asp-action="AddUser" class="btn btn-primary">Add User</a>

<h3>All Users</h3>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Date_of_birth</th>
            <th>Address</th>
            <th>Phone_number</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Role</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.Date_of_birth</td>
                <td>@user.Address</td>
                <td>@user.Phone_number</td>
                <td>@user.Gender</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="ManageUsers" class="btn btn-primary">Manage Users</a>

<a asp-controller="Course" asp-action="Index" class="btn btn-primary">Manage Courses</a>

<a asp-controller="Class" asp-action="Index" class="btn btn-primary">Manage Classes</a>

<a asp-controller="Enrollment" asp-action="Index" class="btn btn-primary">Manage Enrollments</a>

<a asp-controller="Grade" asp-action="Index" class="btn btn-primary">Manage Grades</a>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>