@model IEnumerable<SIMS_ASM.Models.User>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>All Admins</h3>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Date_of_birth</th>
            <th>Address</th>
            <th>Phone_number</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Where(u => u.Role == "Admin"))
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Role</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.Date_of_birth</td>
                <td>@user.Address</td>
                <td>@user.Phone_number</td>
                <td>@user.Gender</td>
            </tr>
        }
    </tbody>
</table>
